<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c - %M - %m%n"/>
		</layout>		
	</appender>
	<root>
		<level value="TRACE"/>
		<appender-ref ref="Console"/>
	</root>
</log4j:configuration>